.h-wrapper{
    
}

.h-container{
    width: 95%;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-around;    
    margin: 0 auto;
    padding-top: 7rem;
}

.navi-menu{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    font-weight: 300;
}
 .navi-menu a:hover{
    text-decoration: 3px underline #DF6951;
    transition: text-decoration-color 0.6s;
}



.menu-icon{
    display: none;
}
/* 
@media (max-width: 768px){
    .menu-icon{
        display: block ;
    }

    .navi-menu{
        color: black;
        border-radius: 30px;
        position: absolute;
        top: 3rem;
        right: 4rem;
        background-color: white;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        padding: 3rem;
        font-weight: 500;
        z-index: 1;

    }
} */